/* ================================= 
  Base Styles
==================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 1.5em;
  font-family: "museo-sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  background: #e8e9e9; }

.container {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1); }

.smalltext {
  font-size: .5em; }

.largetext {
  font-size: 1.5em; }

.upperSection {
  background-image: linear-gradient(155deg, #F05F57 0%, #360940 100%);
  border-radius: 5px 5px 0 0; }

.billtotal {
  color: #000;
  padding-top: 2%;
  padding-left: 2%; }

.tip {
  background-color: #28C76F;
  text-align: center;
  padding-top: 10px; }

.lowerSection {
  background: #3E4556;
  background-image: linear-gradient(155deg, #F05F57 0%, #360940 100%);
  border-radius: 0 0 5px 5px; }

.numpad {
  color: #fff;
  border: 1px solid rgba(10, 10, 10, 0.1); }

.numpad:hover {
  -webkit-box-shadow: 0 0 8px rgba(10, 10, 10, 0.35);
          box-shadow: 0 0 8px rgba(10, 10, 10, 0.35); }

/* ================================= 
  Flexbox
==================================== */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }

.upperSection,
.centerSection,
.lowerSection,
.numrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.upperSection {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.centerSection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.lowerSection {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4; }

.tip {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.billtotal {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.numrow {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.numpad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* Web Fonts -------------------- */
