/* ================================= 
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-size: 1.5em;
  font-family: "museo-sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  background: #e8e9e9;
}
.container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
.smalltext {
  font-size: .5em;
}
.largetext {
  font-size: 1.5em;
}

.upperSection {
  background-image: $gradient;
  border-radius: 5px 5px 0 0;
}
.centerSection {

}
.billtotal {
  color: $black;
  padding-top: 2%;
  padding-left: 2%;
}
.tip {
  background-color: $green;
  text-align: center;
  padding-top: 10px;
}


.lowerSection {
  background: $darkGrey;
  background-image: $gradient;
  border-radius: 0 0 5px 5px;
}
.numpad {
  color: #fff;
  border: 1px solid rgba(10, 10, 10, .10);
}
.numpad:hover {
  box-shadow: 0 0 8px rgba(10, 10, 10, .35);
}
