/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	flex-direction: column;
  height: 100vh;

}
.upperSection,
.centerSection,
.lowerSection,
.numrow {
  display: flex;
  flex-wrap:wrap;
}


.upperSection {
  flex: 3;
  justify-content: space-around;
  align-items: center;
}
.centerSection {
  flex: 1;
}
.lowerSection {
  flex: 4;
}

.tip {
  flex: 1;
}
.billtotal {
  flex: 2;
}


.numrow {
  flex-basis: 100%;
}
.numpad {
  display: flex;
  flex: 1;
   align-items: center;
   justify-content: center;
}
.numpad div {
 
}